html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Macondo', cursive;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
    background: url("../images/beer.jpg") fixed;
    background-size: cover;
}

span {
    margin: 10px;
}

.myHeader {
    top: 0px;
    position: sticky;
    z-index: 10;
    /*background-color: #FFA500;*/

}

.imageStyle {
    width: 400px;
    height: 400px;
}

.smImageStyle {
    width: 100px;
    height: 100px;
}

.wallyStyle {
    width: 35px;
    height: 35px;
    background-color: #FFFFFF;
    margin-right: 5px;
    float: left;
}

.myBtn {
    /*float: left;*/
    margin: 5px;
    padding-left: 3;
    padding-right: 3;
    display: block;
    text-align: center;
    color: #000000;
    border: 2px solid;
    border-radius: 25px;
    background-color: #D3D3D3;
}

.yourInput {
    color: #000000;
    width: 90%;
}

.goBtn {
    margin: 5px;
    padding-left: 3;
    padding-right: 3;
    text-align: center;
    color: #000000;
    border: 2px solid;
    border-radius: 25px;
    background-color: #D3D3D3;
}

.noFloat {
    clear: both;
}

.smPicFrame {
    height: 135px;
    width: 100px;
}

.picFrame {
    /*height: 435px;    
    width: 400px;*/
}

.cardStyle {
	background-color: #008000;
	margin: 10px;
	padding: 5px;
	height: 300px;
	width: 400px;
	border: 10px ridge #02220A;
}

.pubSelect{
    color:red;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidebarTxtDisplay {
    display: block;
    /*padding: 8px 8px 8px 32px;*/
}


/* The navigation menu links */
.sidenav a {
    padding-left: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sideIcon {
    height: 50px;
    margin-left: 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
